main {
  display: grid;
  justify-content: center;
  align-items: center;
}
.container-main {
  display: flex;
  margin-top: 135px;
}
.container1 {
  background-color: #e38826;
  border-radius: 5px 0px 0 5px;
}
.container3 {
  background-color: #004241;
  border-radius: 0px 5px 5px 0px;
}
.container {
  max-width: 270px;
}
